body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 1200px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/*Хедер*/

.main-header-logo {
    position: absolute;
    z-index: 6;
    left: 50%;
    width: 140px;
    height: 71px;
    margin-left: -70px;
}

.main-navigation {
    display: block;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    min-height: 56px;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 16px;
}

.site-navigation li:nth-child(4) {
    padding-left: 16px;
}

.site-navigation li:nth-child(3) {
    margin-left: 240px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

/*main*/

.welcome-img {
    position: relative;
    background-color: #dbeaf2;
    background-image: url("../img/background-photo.jpg");
    background-position: center -56px;
    background-repeat: no-repeat;
    height: 432px;
    padding-top: 76px;
}

.welcome-img img {
    display: block;
    width: 459px;
    height: 353px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 57px;
    left: 0;
    background-image: url("../img/polygon-maska.svg");
    background-size: 100% 57px;
    background-repeat: no-repeat;
}

.main-features {
    background-color: #ffffff;
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 1200px;
}

.main-features b {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    width: 440px;
    text-align: center;
}

.main-features h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    margin-top: 27px;
    margin-bottom: 51px;
}

.main-features-list,
.sublists li {
    list-style: none;
}

.main-features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 256px;
}

.feature {
    width: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 26px;
    text-align: center;
}

.real-town .feature {
    padding: 26px 55px 0 55px;
}

.real-town h3 {
    padding: 21px 50px 24px 50px;
    margin: 0 0 0 0;
}

.real-town p {
    padding: 21px 0 14px 0;
    margin: 0 0 0 0;
}

.bridge .feature {
    padding: 26px 45px 0 45px;
}

.bridge h3 {
    padding: 21px 50px 23px 50px;
    margin: 0 0 0 0;
    text-indent: 8px;
}

.bridge p {
    padding: 21px 0 14px 0;
    margin: 0 0 0 0;
}

.small-area .feature,
.road .feature,
.tourists .feature {
    padding: 26px 55px 0 55px;
}

.small-area h3,
.road h3,
.tourists h3 {
    padding: 21px 70px 24px 70px;
    margin: 0 0 0 0;
}

.small-area p,
.road p,
.tourists p {
    padding: 21px 10px 14px 10px;
    margin: 0 0 0 0;
}

.tourists p {
    padding: 21px 17px 14px 17px;
}

.features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1200px;
}

.bridge .feature {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.sublists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 330px;
}

.features-list li:nth-child(1).main-features-list,
.features-list li:nth-child(2).main-features-list {
    background-color: #81b3d2;
    color: #ffffff;
}

b.list-number {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

b.list-number-black {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main-features-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

li.main-features-list:nth-child(n+3) h3 {
    color: #000000;
}

.sublists li,
.main-features-list ul {
    color: #333333;
    background-color: #ffffff;
}

.sublists h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 161px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    width: 150px;
    vertical-align: middle;
}

.sublists p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 290px;
    vertical-align: middle;
}

.main-features-house {
    background-image: url("../img/housing.svg");
    background-repeat: no-repeat;
    background-position: center 60px;
}

.main-features-food {
    background-image: url("../img/gifts.svg");
    background-repeat: no-repeat;
    background-position: center 61px;
}

.main-features-gift {
    background-image: url("../img/food.svg");
    background-repeat: no-repeat;
    background-position: center 56px;
}

.small-area,
.road,
.tourists {
    background-color: #eeeeee;
}

.main-booking {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    width: 568px;
}

.main-booking b {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.main-booking>p {
    line-height: 24px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 33px;
    vertical-align: middle;
}

/*Форма на главной*/

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.button-open-form {
    width: 568px;
    height: 86px;
    background-color: #766357;
}

.button-open-form:hover,
.button-open-form:focus {
    background-color: #604e43;
}

.button-open-form:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.main-booking-form {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 395px;
    background-color: #ffffff;
    font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    padding: 55px;
}

.date-arrival {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 29px;
    box-sizing: border-box;
    width: 458px;
}

.date-departure {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 458px;
}

.date-arrival label {
    width: 112px;
}

.date-departure label {
    width: 112px;
}

.date-arrival input,
.date-departure input {
    font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 346px;
    height: 38px;
    padding-left: 12px;
    padding-right: 35px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.date-arrival input:hover,
.date-departure input:hover {
    background-color: #ebebeb;
    border: none;
}

.date-arrival input:focus,
.date-departure input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline-color: #e5e5e5;
}

.button-calendar {
    position: absolute;
    top: 8px;
    right: 9px;
    background-color: #f2f2f2;
    outline-color: #e5e5e5;
    opacity: 0.3;
    background-position: center center;
    border: none;
    box-sizing: border-box;
    width: 21px;
    height: 22px;
    padding: 0;
}

.button-calendar:hover {
    opacity: 1;
}

.button-calendar:active {
    fill: #81b3d2;
}

.booking-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.booking-adults label {
    width: 112px;
}

.booking-kids label {
    width: 65px;
}

.booking-adults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.booking-kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.booking-adults input,
.booking-kids input {
    font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
    border: none;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.booking-adults input:hover,
.booking-kids input:hover {
    background-color: #ebebeb;
    border: none;
}

.booking-adults input:focus,
.booking-kids input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline-color: #e5e5e5;
}

.button-minus,
.button-plus {
    position: relative;
    width: 38px;
    height: 38px;
    color: rgba(0, 1, 1, 0.2);
    background-color: #f2f2f2;
    font-size: 0;
    font-weight: 700;
    border: none;
    margin: 0;
}

.button-minus::before,
.button-plus::before,
.button-plus::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-plus::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.button-minus:hover::before,
.button-plus:hover::before,
.button-plus:hover::after {
    background-color: #000000;
}

.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
    background-color: #81b3d2;
}

.button-minus:active,
.button-plus:active {
    outline-color: #f2f2f2;
}

.button-search {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/*Футер*/

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    opacity: 0.9;
    width: 1200px;
    /*height: 120px;Для IE11*/
    min-height: 120px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -126px;
    padding: 36px 0 36px 0;
    box-sizing: border-box;
}

.link-visit {
    width: 400px;
}

.footer-social {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a.footer-link {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social li {
    list-style: none;
    width: 46px;
    height: 48px;
}

.footer-social .social-button {
    display: block;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    position: relative;
    cursor: pointer;
}

a.social-button:hover,
a.social-button:focus {
    background-color: #669ec0;
}

a.social-button:active {
    background-color: #5496bd;
}

.twitter::before {
    content: "";
    position: absolute;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 48px;
    left: 0;
    top: 0;
}

.facebook::before {
    content: "";
    position: absolute;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 48px;
    left: 0;
    top: 0;
}

.youtube::before {
    content: "";
    position: absolute;
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 48px;
    left: 0;
    top: 0;
}

.social-button:active::before {
    opacity: 0.3;
}

.footer-social li:nth-child(2) {
    margin-left: 6px;
    margin-right: 6px;
}

.footer-copyright b {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    width: 74px;
    margin-top: 6px;
    margin-right: 8px;
}

a.footer-img-link {
    width: 115px;
    height: 41px;
}

.htmlacademy {
    fill: #231f20;
}

.htmlacademy:hover {
    fill: #81b3d2;
}

.htmlacademy:active {
    fill: #bdbbbc;
}

/*hotels.html*/

/*хедер*/

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
    color: #766357;
}

/*форма выбора отеля*/

.form-choice-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background-color: #345568;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -66px;
    width: 1200px;
    min-height: 189px;
    padding-top: 27px;
}

.form-choice-hotel fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
}

.form-choice-hotel fieldset:nth-child(1) {
    margin-left: 72px;
    width: 240px;
    text-align: left;
}

.form-choice-hotel fieldset:nth-child(2) {
    margin-left: 15px;
    width: 240px;
    text-align: left;
}

.form-choice-hotel fieldset:nth-child(3) {
    margin-left: 244px;
    width: 240px;
}

.form-choice-hotel legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: left;
}

.checkbox-title {
    margin-bottom: 25px;
}

/*чекбоксы*/

.checkboxes {
    margin-bottom: 25px;
    position: relative;
}

.infrastructure .checkbox {
    padding-left: 39px;
    cursor: pointer;
}

.housing-type .checkbox {
    padding-left: 41px;
    cursor: pointer;
}

.checkboxes input[type="checkbox"]:focus+.checkbox-indicator {
    outline: 1px dashed #ffffff;
    outline-offset: 2px;
}

.checkboxes input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: -1px;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
}

/*стили чекбоксов при выборе*/

.checkboxes input[type="checkbox"]:checked+.checkbox-indicator {
    position: absolute;
    top: -1px;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
}

/*стили чекбоксов при блокировании*/

.checkboxes input[type="checkbox"]:disabled+.checkbox-indicator {
    position: absolute;
    top: -1px;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off-disabled.svg");
}

.checkboxes input[type="checkbox"]:disabled:checked+.checkbox-indicator {
    position: absolute;
    top: -1px;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on-disabled.svg");
}

/*Стили для ползунка*/

.filter-range {
    width: 317px;
    padding-top: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.price-controls {
    position: relative;
    margin-left: -1px;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    padding-top: 5px;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 113px;
    padding-left: 42px;
}

.price-controls .max-price {
    width: 128px;
    padding-left: 27px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 252px;
}

.btn-transparent {
    display: block;
    margin-left: 84px;
    padding: 6px 34px 5px 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 137px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

/*Блок сортировок*/

.sorting-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 29px;
    margin-left: 72px;
    margin-bottom: 31px;
    margin-right: 73px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sorting-subblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.search-result,
.result-sorting {
    margin: 0;
}

.search-result {
    width: 130px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.result-sorting {
    width: 113px;
    margin-left: 34px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}

.sorting {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1px;
    width: 238px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sorting li,
.sorting-direction,
.sorting-direction li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sorting-price {
    color: #81b3d2;
    text-decoration: none;
}

.sorting-type,
.sorting-rate {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
    text-decoration: none;
}

.sorting-type:hover,
.sorting-rate:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-type:active,
.sorting-rate:active {
    color: #000000;
    border: none;
}

/*Здесь будут стили для стрелочек*/

.sorting-direction {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sorting-direction-up {
    fill: #cacaca;
}

.sorting-direction-down {
    fill: #81b3d2;
}

.direction:hover {
    fill: #231F20;
}

.direction:active {
    fill: #81b3d2;
}

/*Секция catalog*/

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}

.catalog-category {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.catalog-item {
    border-top: 1px solid #e5e5e5;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 72px;
}

.catalog-left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-first-column>h3 {
    margin: 0;
    padding: 0;
    width: 260px;
    text-align: left;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}

.catalog-item-image {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin-top: 4px;
    margin-left: 72px;
    width: 135px;
    margin-right: 30px;
}

.catalog-item b {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: left;
}

.catalog-first-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}

.catalog-sub-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
}

.catalog-second-column {
    margin-left: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: left;
}

.catalog-third-column {
    margin-left: 6px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: left;
}

.catalog-fourth-column {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 110px;
    height: 91px;
    margin-top: 4px;
}

.catalog-item-rating {
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: #f2f2f2;
    width: 110px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
}

.catalog-stars {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}

.catalog-stars img {
    margin-left: 2px;
}

.button-details {
    display: block;
    vertical-align: middle;
    width: 110px;
    background-color: #81b3d2;
    font-size: 14px;
    line-height: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 14px;
}

.button-details:hover {
    background-color: #669ec0;
}

.button-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-booking {
    display: block;
    vertical-align: middle;
    width: 142px;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 14px;
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.hotels-footer {
    margin-top: 0;
}